node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db



# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.svelte-kit
build

tmp
.air.toml

helen-portfolio.db
main
notes.txt

litefs.yml

fly-deploy.yml
